.current-war-title {
    color: red; 
    text-shadow: 2px 2px 4px rgba(75, 74, 74, 0.5); 
    text-align: center; 
    font-size: 3rem; 
    margin-bottom: 1rem; 
    padding: 10px; 
    text-decoration: underline red;
}

@media (max-width: 767px) {
    .current-war-title {
        font-size: 2rem; 
    }
}

.war-container {
    color: rgb(255, 255, 255);
}

.clan-comparison-container {
    width: 75%;
    margin: 0 auto; 
    margin-bottom: 3rem;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.table-war-comparison {
    width: 100%; 
    max-width: 100%;
    border-collapse: collapse; 
    border-radius: 10px; 
    overflow: hidden;
}

.start-time-war, .end-time-war{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 5px 10px;
    margin: auto;
}

.end-time-war {
    color: red;
    font-size: 32px;
}

.table-war-comparison img {
    vertical-align: middle; 
}

.table-war-comparison th, .table-war-comparison td {
    border: 2px solid #1d1d1d; 
    padding: 8px;
    text-align: center;
}


.clan-name-column-magios{
    font-size: 40px;
    background-color: rgb(165, 1, 1)
}

.clan-name-column-oponent{
    font-size: 40px;
    background-color: #353434;
}

.clan-img-column, .oponent-img-column {
    max-width: 120px;
    max-height: 120px;
}

.clan-img-column {
    filter: drop-shadow(0 1px 20px rgb(245, 0, 0));
}

.clan-img-column-bg {
    background-color: #4e0155;
}

.oponent-img-column-bg {
    background-color: white
}

.clan-attacks-column {
    background-color: #a348ac;
}

.oponent-attacks-column {
    background-color: rgb(143, 143, 143)
}

.clan-destruction-column {
    background-color: #8e6392;
}

.oponent-destruction-column {
    background-color: rgb(95, 95, 95)
}

.clan-stars-column {
    background-color: rgb(0, 0, 0)
}

.clan-oponent-column {
    background-color: rgb(155, 143, 32)
}

.star-img-table-clan, .star-img-table {
    height: 60px;
    width: 60px;
}

.star-img-table-clan {
    filter: drop-shadow(0 1px 15px rgb(226, 230, 190));
}

@media (max-width: 767px) {
    .clan-name-column-magios {
        font-size: 2em; 
    }

    .clan-name-column-oponent {
        font-size: 2em; 
    }

    .table-war-comparison th, .table-war-comparison td {
        padding: 4px; 
        font-size: 14px; 
    }
}

.participants {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    color: white;
    min-height: 500px;
    cursor: pointer;
}

.participant-card {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    width: calc(30% - 20px);
    background-color: #333;
    color: white;
    transition: background-color 0.3s;
}

.participant-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.participant-card-name, .participant-card-map-position, .attack-card-child-4-observaciones{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.participant-card-map-position {
    font-size: 18px;
}

@media (max-width: 767px) {
    .participant-card {
        width: 80%; 
    }
}

@media (min-width: 768px) {
    .participant-card {
        max-width: 300px; 
    }
}

@media (min-width: 768px) {

    .participant-card {
        width: 100%; 
        max-width: 350px; 
        width: calc(50% - 20px); 
    }
}

@media (min-width: 1200px) {
    .participant-card {
        width: calc(33.33% - 20px); 
    }
}

.attacks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.attack-card {
    border: 2px solid #ccc;
    border-radius: 8px; 
    padding: 10px;
    width: 200px;
    transition: border-color 0.3s; 
}

.attack-card:hover {
    border-color: #333; 
    background-color: #555;
}

.attack-card-child-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.attack-card-child-1-p {
    font-size: 18px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.escudo-img {
    height: 30px;
    width: 30px;
}

.attack-card-child-2-stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.star-img {
    height: 40px;
    width: 40px;
}

.attack-card-child-3-destruccion, .attack-card-child-3-oponent {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
} 

.attack-card-child-3-oponent, .attack-card-child-4-observaciones{
    font-size: 16px;
}

.attack-card-child-4-observaciones {
    text-decoration: underline white;
    font-style: italic;
}

.attack-card-child-4-p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;   
}