.member-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    width: 60%;
    min-height: 100px; /* altura mínima para mantener la estética */
    position: relative; /* cambio de absolute a relative */
    top: initial; /* remover ajustes de centrado vertical */
    left: 50%; /* mantener el centrado horizontal */
    transform: translateX(-50%); /* ajuste solo horizontal */
    background: #333; /* asumiendo un fondo oscuro para contraste del texto blanco */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* sombra ligera para efecto elevado */
    overflow: hidden; /* agregar gestión de overflow si necesario */
}

.clan-badge {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 16px;
}

.member-info {
    flex-grow: 1;
}

.member-info h2 {
    margin-top: 0;
}

.member-info p {
    margin: 8px 0;
}

.title, .parrafo {
    color: white;
}
