.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.clan-card-container {
    display: grid;
    grid-template-columns: 30% 1fr; 
    gap: 20px;
    align-items: flex-start; 
    background-color: #272727;
    border: 2px solid #ccc;
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    margin: 20px;
    max-width: 800px;
    padding: 30px;
}

.clan-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clan-img {
    width: 100%; 
    height: auto; 
    object-fit: cover;
    filter: drop-shadow(0 1px 20px rgb(245, 0, 0));
}


.league-img{
    height: 90px;
    width: 90px;
    align-items: center;
    filter: drop-shadow(0 1px 10px gold);
}

.clan-war-league {
    display: flex; 
    align-items: center; 
    color: white; 
    margin-top: 15px;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    margin: 45px 0; 
    border-radius: 10px; 
}

.bg-text {
    background-color: gold; 
    padding: 3px;
    border-radius: 10px; 
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    margin-left: 4px;
}
.clan-card-container-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.clan-name {
    font-size: 45px;
    color: rgb(206, 17, 17);
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.clan-description{
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: bolder;
}

.clan-card-contained-mini-child {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 14px;
}

.clan-card-contained-mini-child p{
    margin: 5px 0; 
    padding: 4px; 
    border-radius: 10px; 
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.clan-card-contained-mini-child p:nth-child(1) {
    background-color: rgba(255, 0, 255, 0.5); 
    color: #ff00ff; 
}

.clan-card-contained-mini-child p:nth-child(2) {
    background-color: rgba(255, 255, 0, 0.5); 
    color: #ffff00; 
}

.clan-card-contained-mini-child p:nth-child(3) {
    background-color: rgba(0, 255, 255, 0.5); 
    color: #00ffff; 
}

.clan-card-contained-mini-child p:nth-child(4) {
    background-color: rgba(0, 255, 0, 0.5); 
    color: #00ff00;
}

.clan-card-contained-mini-child p:nth-child(5) {
    background-color: rgba(255, 0, 0, 0.5); 
    color: #e76060; 
}

.clan-card-contained-mini-child p:nth-child(6) {
    background-color: rgba(0, 0, 255, 0.5); 
    color: #6565f8; 
}

.clan-card-contained-mini-child p:nth-child(7) {
    background-color: rgba(255, 255, 0, 0.5); 
    color: #ffff00; 
}

.clan-card-contained-mini-child p:nth-child(8) {
    background-color: rgba(255, 0, 255, 0.5); 
    color: #ff00ff; 
}

.clan-card-contained-mini-child p:nth-child(9) {
    background-color: rgba(0, 255, 255, 0.5); 
    color: #00ffff; 
}

.clan-card-contained-mini-child p:nth-child(10) {
    background-color: rgba(0, 255, 0, 0.5); 
    color: #00ff00; 
}

.clan-card-contained-mini-child p:nth-child(11) {
    background-color: rgba(255, 0, 255, 0.5); 
    color: #ff00ff; 
}

.clan-card-contained-mini-child p:nth-child(12) {
    background-color: rgba(0, 255, 255, 0.5); 
    color: #00ffff; 
}

.clan-tag {
    position: absolute;
    top: 150px; 
    right: 260px; 
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    padding: 5px 10px; 
    border-radius: 5px; 
    font-size: 18px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        height: auto;
        margin-top: 1rem;
    }

    .clan-card-container {
        grid-template-columns: 1fr; 
        padding: 20px; 
        border-radius: 20px;
        gap: 0;
    }

    .clan-img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .clan-img {
        width: 200px; 
        height: 200px; 
    }

    .league-img {
        width: 80px; 
        height: 80px; 
    }

    .clan-tag {
        position: relative;
        margin-top: 10px; 
        right: auto; 
        top: auto; 
        order: -1; 
    }

    .clan-card-container-child {
        width: 100%;
    }

    .clan-war-league {
        margin-bottom: 5px;
        margin-top: 12px;
    }
}
